<nav>
    <div class="site-title">
        <a href="/">
            <h1>Todo List</h1>
        </a>
        <p>Control Your Time</p>
    </div>
    <% if(locals.user && locals.user.name) { %>
        <div>

            Logged In User:
            <%= user.name %>

        </div>
        <ul>
            <li><a href="/">My List</a></li>
            <li><a href="/todos">All Todo Items</a></li>
            <li><a href="#" onclick="signOut()">Sign Out</a></li>
        </ul>
        <% } else {%>
            <ul>
                <li><a href="/login">Login</a></li>
                <li><a href="/signup">Sign up</a></li>
                <li><a href="/todos">All Todo Items</a></li>
            </ul>
            <% } %>
</nav>